{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Home</h1>
  <p>This is the home page.</p>
  <img src="{% static 'testimonials/images/Card Atacama.png' %}" alt="Atacama" width="100%">
  <img src="{% static 'testimonials/images/Card Grand Canyon.png' %}" alt="Grand Canyon" width="100%">
  <img src="{% static 'testimonials/images/Card Patagonia.png' %}" alt="Patagonia" width="100%">
</body>
</html>
